.header {
    height: 4vw;
    margin: 1vw;
    margin-top: 0;
    padding-top: 1vw;
    /* box-shadow: 0px 10px 10px -15px #111;   */

}

.header-logo {
    width: 5vw;
}

.header-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
}

.logout-modal-body {
    margin: 1vw;
}