.search-title {
    margin: 1vw;
    font-family: Helvetica;
    font-weight: 100;
    font-size: 1.8vw;
    opacity: 0.7;
}

.activities-found {
    opacity: 0.7;
    font-family: Helvetica;
    font-weight: 100;
}
.search-field {
    margin: 1vw;
}

.search-button {
    margin-left: 0.5vw;
    margin-top: 0.2vw;
}


.activities {
    margin-top: 3vw;
    max-width: 85vw;
    flex-wrap: wrap;
}

.activity-box {
    background-color: white;
    box-shadow: 1px 2px 2px 2px #1111110d;  
    margin: 1vw;
    border-radius: 5px;
    /* max-width: 300px; */
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
}

.activity-box:hover  {
    transform: scale(1.01); /* Adjust the scale value as needed for desired zoom level */
  }

.activity-name {
    font-family: Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 1vw;
    max-width: 15vw;
    margin-bottom: 0vw;
    overflow:hidden;
    white-space: nowrap;
}

.activity-date {
    font-family: Helvetica, sans-serif;
    font-size: 0.8vw;
    font-weight: 400;
    margin: 1vw;
    margin-bottom: 1vw;
    margin-top: 0.1vw;

}

.metric-title {
    font-size: 0.7vw;
}
.activity-distance {
    margin-left: 0;
    margin: 0.2vw;
}
.activity-time {
    margin-left: 0;
    margin: 0.2vw;
}
.activity-elevation-gain {
    margin-left: 0;
    margin: 0.2vw;
    margin-right: 1vw;
}
.activity-details {
    font-family: Helvetica, sans-serif;
    font-size: 1vw;
    font-weight: 400;
    margin: 0.3vw;
    margin-left: 1vw;
}

.activity-map {
    margin: 0.5vw;
    border-radius: 5px;
    overflow: hidden;
}

.metric-divider {
    height: 2vw;
    border: 0.8px solid rgba(0, 0, 0, 0.084);
    margin: 1vw;
}